h1{
	text-align: center;
	position: relative;
	top: 200px;
	font-size:75px;
	top: 200px;
	
} 

div{
	text-align: center;
	position: relative;
	top: 100px;
	font-size:75px;

}
#btn1{
	text-align: center;
	top: 40px;
}
#btn2{
	width: 45%;
	height:45px;
	border: 50%;

}
#btn3{

}
.top{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 1200px;
	display: inline;
	padding-right: 160px; 

}

nav {
	text-align: right; 
	padding-right: 160px; 
	word-spacing: 10px;
}

#bottom{
	font-size: 12px;
	bottom: 0px;
}
.bottom {
	position: absolute;
	bottom:0px;
	align-content: left;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding:0;
    
    zoom:1;
    *display:inline;
    
}